  <h1>The Game-News-Cube</h1>

  <div class="container">
    <div id="article"></div>
    <div id="GameCube">
      <figure class="front">
        <div id="faces"></div>
      </figure>
      <figure class="back">
         <div id="faces"></div>
      </figure>
      <figure class="right">
         <div id="faces"></div>
      </figure>
      <figure class="left">
         <div id="faces"></div>
      </figure>
      <figure class="top">
         <div id="faces"></div>
      </figure>
      <figure class="bottom">
         <div id="faces"></div>
      </figure>
    </div>

  <div id="inputBox">
    <textarea id="input"></textarea>
    <div id="note">
      Save Note!
    </div>
  </div>

  <div id="save">
    <textarea readonly id="notes"></textarea>
    <div id="delete">
      Delete Note!
    </div>
  </div>

  </div>