  <h1>The Game-News-Cube</h1>
  <div id="inputBox">
    <textarea id="input" rows="4" cols="50"></textarea>
    <div id="note">
      <img src="../../assets/images/save.png" class="button">
    </div>
  </div>

  <div id="save">
    <textarea readonly id="notes" rows="4" cols="50"></textarea>
    <div id="delete">
      <img src="../../assets/images/delete.png" class="button">
    </div>
  </div>

  <section class="container">
    <div id="article"></div>
    <div id="GameCube">
      <figure class="front">
        <div id="faces"></div>
      </figure>
      <figure class="back">
         <div id="faces"></div>
      </figure>
      <figure class="right">
         <div id="faces"></div>
      </figure>
      <figure class="left">
         <div id="faces"></div>
      </figure>
      <figure class="top">
         <div id="faces"></div>
      </figure>
      <figure class="bottom">
         <div id="faces"></div>
      </figure>
    </div>
  </section>

